@charset 'utf-8';
@import  '../../../../assets/scss/normalize.css';
@import  '../../../../assets/scss/common.scss';
@import "../../../../assets/fonts/iconfont.css";
.new{
    text-align: center;
    padding-top:128px;
    p{
        font-size:30px;
        color:#000000;
        line-height: 155px;
        margin-bottom:266px;
    }
}