@charset 'utf-8';
@import  '../../../../assets/scss/normalize.css';
@import  '../../../../assets/scss/common.scss';
@import "../../../../assets/fonts/iconfont.css";
.banner{
    width:100%;
    height:280px;
    background: url(../images/banner.jpg) no-repeat center;
    font-size:36px;
    line-height: 280px;
    color:#ffffff;
    font-weight: bold;
    text-align: center; 
}
.list{
    overflow: hidden;
    padding-top:40px;
    .center{
        >div{
            overflow: hidden;
        }
         dl:hover{
                // transform:translateX(10px) translateY(-5px);        
        }
        dl{
            margin: 0 20px 40px;
            width:360px;
            height:529px;
            overflow: hidden;
            box-shadow:0 0 20px 3px #e4e4e4;
            transition:transform 0.3s linear;
            background: #fff;
            dt{
                width:360px;
                height:271px;
                img{
                    width:100%;
                    height:100%;
                }
            }
            dd{
                p{
                    margin: 0 35px;
                    line-height: 24px;
                    font-size:14px;
                    color:#a8aeac;
                }
                P:nth-child(1){
                    font-size:20px;
                    color:#333333;
                    line-height: 113px;
                    font-weight: bold;
                    margin-bottom:2px;
                }
                p:nth-child(2){
                    width:39px;
                    height:4px;
                    background: #e3e3e3;
                    margin-left:36px;
                    margin-bottom:19px;
                }
                P:nth-child(3){
                    height:49px;
                }
            }
        }
        >P{
            text-align: center;
            line-height: 80px;
            width:100%;
            height:80px;
            font-size:14px;
            color:#a8aeac;
            .iconfont{
                font-size:25px;
                color:#333333;
                line-height: 80px;
                position: relative;
                top:3px;
                margin-right:18px;
            }
            span{
                font-size:18px;
                color:#ffce4b;
                margin-left:15px;
                font-weight: bold;
            }
        }
    }
}